@use "../template" as a;

.cart {
  position: absolute;
  right: 20px;
  top: 100%;
  z-index: 100;
  background-color: #fff;
  padding: 20px;

  .cart-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 1rem;
    img {
      width: 80px;
      height: 100px;
      object-fit: cover;
    }

    .details {
      h1 {
        font-size: 1rem;
        font-weight: 500;
      }
      p {
        color: gray;
        margin-bottom: 0.5rem;
        font-size: 0.5rem;
      }

      .price {
        color: var(--neon-blue);
        font-weight: bold;
        b {
          font-weight: bolder;
          font-size: 1.5rem;
        }
      }
    }
  }

  .delete {
    color: red;
    cursor: pointer;
  }
  .total {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  button {
    @include a.blue-button2(80%);
  }
  .reset {
    font-size: 0.25rem;
    color: red;
    cursor: pointer;
  }
}
