section.message {
  min-height: 40dvw;
  display: flex;
  justify-content: center;
  align-items: center;

  .message-box {
    border: 1px solid #d0d7de;
    max-width: 830px;
    padding: 1rem;
    .logo {
      display: flex;
      margin-bottom: 24px;
      justify-content: center;
      svg {
        height: 64px;
        width: 64px;
      }
      .success {
        color: rgb(14, 147, 14);
      }
      .error {
        color: rgb(218, 14, 14);
      }
    }
  }
}
