header.wrapper {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #f0e7e7;
  box-shadow: rgba(120, 115, 115, 0.1) 0px 4px 12px;
  display: flex;
  justify-content: space-between;
  .menu-icon {
    display: none;
    color: #fff;
    border: 0.2rem solid;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 3rem;
  }
  .left {
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    align-items: center;
    .location {
      // flex: 1 1 7%;
      img {
        width: 2vw;
      }
    }
  }
  .center {
    // align-self: center;
    display: flex;
    flex-wrap: wrap;
    a {
      font-size: 1.5rem;
      margin: 0 1rem;
      &:hover {
        color: var(--electric-blue);
        border-bottom: 1px solid var(--electric-blue);
      }
    }
  }
  .right {
    display: flex;
    gap: 25px;
    align-items: center;
    flex-wrap: wrap;
    .icons {
      display: flex;
      gap: 15px;
      cursor: pointer;
      color: #777;
      .cartIcon {
        position: relative;
        span {
          background-color: #375cd7;
          border-radius: 70%;
          font-size: 12px;
          width: 15px;
          height: 15px;
          color: #fff;
          position: absolute;
          top: -5px;
          left: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  padding: 2rem 9%;
}

@media screen and (max-width: 768px) {
  header.wrapper {
    svg.menu-icon {
      display: initial;
    }
    .center {
      position: absolute;
      width: 100%;
      top: 100%;
      right: 0;
      background-color: #121111;
      border-top: 0.1rem solid #ffffff33;
      padding: 1rem 2rem;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      flex-direction: column;
      a {
        text-align: center;
        border-radius: 0.5rem;
        padding: 1rem;
        margin: 1rem 0;
        background-color: #fff;
      }
    }
    .active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}
