.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  form {
    background-color: #fff;
    padding: 1.5rem 2rem;
    margin: 2rem;
    border-radius: 0.5rem;
    width: 60vw;
    h3 {
      font-size: 3rem;
      color: #444;
      text-transform: uppercase;
      text-align: center;
      padding: 1rem 0;
    }
    input.box {
      width: 100%;
      padding: 1.5rem;
      font-size: 1.5rem;
      margin: 0.5rem;
      border: 0.1rem solid rgba(0, 0, 0, 1);
      text-transform: none;
      &:focus {
        border-color: var(--electric-blue);
      }
    }
    #remember {
      width: 1.5rem;
      height: 1.5rem;
      margin: 1.5rem 0;
    }
    label {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
      color: #666;
      padding: 0.5rem 0;
      a {
        color: var(--electric-blue);
        &:hover {
          color: #666;
          text-decoration: underline;
        }
      }
    }
  }
}

.auth-btn {
  width: 100%;
  display: inline-block;
  margin-top: 1rem;
  cursor: pointer;
  border: 0.1rem solid var(--electric-blue);
  background-color: var(--electric-blue);
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s linear;
  &:hover {
    background: rgba(255, 165, 0, 0.2);
    color: var(--electric-blue);
  }
}
