@use "./components/navbar";
@use "./components/footer";
@use "./components/slider";
@use "./components/featuredProduct";
@use "./components//categories";
@use "./components/card";
@use "./components/contact";
@use "./components/products";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Roboto+Mono:wght@200;300;400;600;700&display=swap");

* {
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  text-transform: capitalize;
  color: inherit;
}
